.text {
    color: white;
    margin-left: 5%;
}

.tableText {
    color: white;
    text-align: left;
}

.headtableText {
    color: white;
    text-align: center;
}

#colPrecio {
    text-align: left;
}

/* table,th,td {
    border: 1px solid;
} */

.salesDiv .salesTable {
    width: 100%;
}

.salesTable .gameImage img{
    height: 87px;
    width: 162px;
}

.salesDiv {
    display: flex;
    width: 100%;
    align-self: center;
}

#salesCol1 {
    width: 119px;
}

#salesCol2 {
    width: 120px;
}

#salesCol3 {
    width: 100px;
}

.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #FAFAC6;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #FAFAC6;
    background: #FAFAC6;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}