.text {
    color: white;
    margin-left: 5%;
}

.tableText {
    color: white;
    text-align: left;
}

.headtableText {
    color: white;
    text-align: center;
}

#colJugadores {
    text-align: left;
}

#colJugados {
    text-align: center;
}


.mostPlayedTable {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.mostPlayedTable .gameImage img {
    height: 87px;
    width: 162px;
}

.recentGamesTable .gameImage img{
    height: 87px;
    width: 162px;
}

.recentGamesTable {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.patchesTable {
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}

.recentGamesDiv {
    display: flex;
    width: 100%;
    align-self: center;
}

#salesCol1 {
    width: 119px;
}

#salesCol2 {
    width: 120px;
}

#salesCol3 {
    width: 100px;
}
